{%extends "EspritApplicationBundle::layout.html.twig"%}
{%block container %}



        <center>
<table  id="tableau" border="1">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Noter</th>

       
    </tr>
    </thead>
  <tfoot>
    <tr>
      <td colspan="5">Infos sur un expert</td>
    </tr>
  </tfoot>
  <tbody>
    {% for expert in experts %}
    <tr>
        <td>{{expert.id}}</td>
            
    {% for user in users %}    <td>{{user.username}}</td>     {% endfor %}


        <td >{% include 'DCSRatingBundle:Rating:control.html.twig' with {'id' : idd} %}</td>
    </tr>
    
    {% endfor %}
    </tbody>
</table>
        </center>


    {%endblock%}


