{% extends "EspritFrontOfficeBundle::layout1.html.twig" %}
{%block content %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <br>

    <table width='60%' cellspacing='0' align="center"  >
        <tr>
            <th><center>Titre</center></th>
                <th><center>Description</center></th>
                <th><center>Type</center></th>
                <th><center>Date du Post</center></th>

    </tr>
        
        <tr class='even'>
            <td>{{ prb.titre }}</td>
            <td>{{ prb.description }}</td>
            <td>{{ prb.type }}</td>
            <td>{{ prb.datePost|date('d-m-y') }}</td>
        </tr>
        <tr>
            <td colspan="4">
                
                {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': prb.id} %}
               

            </td>
        </tr>
</table>
<br>

    
    
        


<br>
<style type="text/css">
    .fos_comment_comment_show{
        margin: 20 px 0;
    }
    
.fos_comment_thread_show {
    margin-top: 2em;
    padding: 55em 1000px;
    width: 472px;
    background: #fdfcf0;
    box-shadow: 0 0 7px #bbb;
    -moz-box-shadow: 0 0 7px #bbb;
    -webkit-box-shadow: 0 0 7px #bbb;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.fos_comment_thread_show h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #a0a0a0;
}
.fos_comment_comment_show {
    color: #555;
}
.fos_comment_comment_metas {
    margin: 1.5em 0 0.5em 0;
    padding: 1em 20px;
    background: #e6e6e6;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 500;
}
.fos_comment_comment_body {
    //line-height: 5.5em;
    width: 9px 54px;
    font-size: 14px;

    
}
.fos_comment_comments .fos_comment_comments {
    margin-left: 2em;
}
.fos_comment_comment_reply {
    text-align: right;
    margin-left: 20px ;
}
.fos_comment_comment_reply.replying {
    text-align: left;
    margin-top: 1em;
    padding: 4em 5px;
    background: #d6d6d6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.fos_comment_comment_reply_show_form {
    padding: 2px 5px;
    font-size: 0.8em;
}
.fos_comment_comment_reply.fos_comment_replying button.fos_comment_comment_reply_show_form {
    display: none;
}
.fos_comment_thread_comments {
    margin-bottom: 1.5em;
}
.fos_comment_reply_prototype {
    display: none;
}
.fos_comment_thread_show > form.fos_comment_comment_form {
    margin-bottom: 1em;
}
form.fos_comment_comment_form.processing {
    opacity: 0.5;
}
form.fos_comment_comment_form label.author_name {
    margin-top: 3px;
    float:left;
}
form.fos_comment_comment_form label.author_name input {
    padding: 2px 5px;
}
form.fos_comment_comment_form textarea {
    width: 98%;
    height: 6em;
    padding: 1%;
}
form.fos_comment_comment_form.error textarea {
    border-color: red;
}
.fos_comment_form_errors {
    color: #ff0000;
}
.fos_comment_submit {
    text-align: right;
}
.fos_comment_submit input {
    font-size: 1.2em;
    padding: 3px 12px;
    margin-top: 3px;
}
a.fos_comment_thread_feed {
    width: 16px;
    height: 16px;
    display: block;
    float: right;
}
.fos_comment_comment_voting {
    float: right;
}
.fos_comment_comment_score {
    display: inline-block;
}

    
a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
a:visited {
	color: #666;
	font-weight:bold;
	text-decoration:none;
}
a:active,
a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
    
        font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:auto;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 1 1px 2px #d1d1d1;
}
table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child{
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr{
	text-align: center;
	padding-left:20px;
}
table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table tr td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td{
	border-bottom:0;
}
table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

</style>
{%endblock%}

