{%extends "EspritApplicationBundle::layout.html.twig"%}
{%block container %}
    <center><h1><a href="{{path('esprit_application_idee_general')}}">Accueil des idées</a></h1></center>
        <center>

<form method="POST">
    <br>
    <table id="tableau1" border="1">
        <thead>
    <tr>
        <th scope="col">Ajouter une idée</th>
        <th scope="col"></th>
        
    </tr>
    </thead>
    
    <tfoot>
    <tr>
      <td colspan="5">CrowdRise</td>
    </tr>
    </tfoot>
  <tbody>   
      
      <tr><td>Titre </td><td><input type="text" name="titre"/></td>
  <tr><td> Description</td><td> <input type="text" name="description"/>  </td>  
  <tr><td>Type </td><td><input type="text" name="type"/></td>
  <tr>
      <td></td><td><input type="submit" value="Ajouter" id="inp"/></td></tr>
     </tbody>
</table>
</form>
        </center>

{%endblock%}