{%extends "EspritApplicationBundle::layout.html.twig"%}
{%block container %}

<center>

   <a href="{{path('esprit_application_afficher_idee')}}">Afficher toutes les idées</a><br>
   <a href="{{path('esprit_application_afficher2_idee')}}">Afficher vos idées</a><br>
   <a href="{{path('esprit_application_add2_idee')}}">Ajouter une idée</a><br>
   <a href="{{path('esprit_application_rechercher_idee')}}">Chercher une idée</a>


</center>

    {%endblock%}


{# empty Twig template #}
