{%extends "EspritApplicationBundle::layout.html.twig"%}
{%block container %}
<center><h1><a href="{{path('esprit_application_idee_general')}}">Accueil des idées</a></h1></center>
        <center>

<h1>Recherche Idée de projet par son titre</h1>
<form method="POST">
    <table id="tableau1" border="1">
        <thead>
    <tr>
        <th scope="col">­</th>
        <th scope="col">­</th>
        <th scope="col">­</th>
</tr>
    </thead>
    
    <tfoot>
    <tr>
      <td colspan="5">CrowdRise</td>
    </tr>
    </tfoot>
  <tbody>   
      
      <tr>
      <td>Titre du projet :  </td>
      <td><input type="text" name="titre"></td>
      <td><input type="submit" value="rechercher"><td>
      </tr>
     </tbody>
</table>
</form>
        </center>

{%endblock%}