{# empty Twig template #}
{% extends "EspritFrontOfficeBundle::layout1.html.twig" %}

{% block content %}
<div class="container_12">
        <div class="how-it-work">
            <div class="grid_12 short-introduce">
                <h3 class="rs title"><span class="fc-black">Easy way to realize</span> your dream</h3>
                <div class="box-introduce">
                    <div class="wrap-2col">
                        <div class="left-intro">
                            <h4 class="rs title-intro">Lancez votre projet à Crowdrise </h4>
                            <p class="rs pb20">Crowdrise une plaetform simple qui rend vos rêves vrai.</p>
                            <p class="rs pb20">Le principe de ce site est de financer des projets et collecter des idées grâce à un réseau d'utilisateurs . Inscrivez-vous sur notre site , voter et donner de l'argent à des projets que vous aimez , même les investisseurs peuvent investir dans certains projets en communiquant avec les porteurs de projets</p>
                            <a class="btn btn-red btn-star-project" href="{{path('esprit_front_office_ajout')}}">
                               <span class="lbl">Lancez votre projet</span>
                                
                            </a>
                           
                        </div>
                        <div class="right-intro"><img src="{{asset('images/tunisie.jpg')}}" class="" alt="$DESCRIPTION"/></div>
                        <div class="clear"></div>
                    </div>
                </div>
           


    
    <footer id="footer">
        <div class="container_12 main-footer">
            
            
           
            
            <div class="clear"></div>
        </div>
       
        
        {% endblock content %}
{# empty Twig template #}