{% extends "EspritFrontOfficeBundle::layout1.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <br> <br>
    <h4> <center>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</h4>
 <br> <br>  <br> <br>  <br> <br>  <br> <br>  <br> <br>  <br> <br>  <br> <br>  <br> <br>
{% endblock %}
