{% trans_default_domain 'FOSUserBundle' %}
<center>
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    
        
   <div class="layout-2cols">
        <div class="content grid_8">
            <div class="project-detail">
                <div class="project-tab-detail tabbable accordion">
                    <ul class="nav nav-tabs clearfix">
                      <li class="active"><a href="#">Changer le mot de passe </a></li>
                   
                    
                    </ul>
                    
 <div class="tab-content">
                        <div>
                            <h3 class="rs alternate-tab accordion-label">Inscription</h3>
                            <div class="tab-pane accordion-content active">
                                <div class="form form-profile">
                                    <form action="#">
                                        <div class="row-item clearfix">
                                       
                                                                     
 <div class="row-item clearfix">
    
                                            
                                            
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
         <div class="row-item clearfix">
        <label class="lbl" for="txt_name1">Mail ou username</label>
         <div class="val">
        <input type="text" id="username" name="username" required="required" class="txt" />
        </div>
    </div>
    <div>
        <center> <input type="submit"  class="btn btn-red btn-submit-all" />
 </div>

                                </div>
                                </div>
                        </div>
                       
                       
                
                      </div>
                        </div>
 </div>
         </div></div></div></div>
                </form>

</center>                     