{%extends "EspritBackOfficeBundle::layout.html.twig"%}
{%block container %}

<center>

   <a href="{{path('esprit_back_office_afficher_idee')}}">Afficher toutes les idées</a><br>
   <a href="{{path('esprit_back_office_rechercher_idee')}}">Chercher une idée</a>


</center>

    {%endblock%}


{# empty Twig template #}
